.developer-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
  
  .developer-background {
    width: 100%;
    flex: 1; // This makes the background fill the space between navbar and footer
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }