.enlistmentmanager-container {
  display: flex;
  flex-direction: row;
}

.enlistmentmanager-content {
  margin-left: 250px; /* Sidebar width */
  margin-top: 60px; /* Height of TopNavbar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .enlistmentmanager-content {
    margin-left: 0; /* No left margin on mobile */
    margin-top: 110px; /* Increased margin for TopNavbar */
  }
}
